.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {height: 600px; width: 960px; margin-top: 0px; background-image: url('loading_screen.jpg');}
.webgl-content .logo.Dark {height: 600px; width: 960px; margin-top: 0px; background-image: url('loading_screen.jpg');}

.webgl-content .progress {height: 10px; width: 960px; top: 5px;}
.webgl-content .progress .full {background: url('fa_progress.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}
.webgl-content .progress.Dark .full {background-image: url('fa_progress.png');}